* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#clock {
  color: #130505f5;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 6px;
  margin: 0 auto;
  background-image: linear-gradient(
    to left,
    rgba(255, 0, 0, 0.658),
    rgba(0, 0, 255, 0.61)
  );
}
